<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
          <img src="https://s3.us-east-2.amazonaws.com/upload-icon/uploads/icons/png/11340101041553750221-512.png">
        </div>
        <div class="sidebar-brand-text mx-3">Assignment</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="index">
          <img src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/house-icon.png" width="30px" height="30px">
          <span translate>  &ensp; &ensp;  home</span></a>
      </li>
      <hr class="sidebar-divider">
    
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
          aria-expanded="true" aria-controls="collapseBootstrap">
         <img width="20px" height="20px" src="https://i.pinimg.com/originals/46/cd/20/46cd20a33efe24abce136ee09cea122a.png">
          <span translate>&emsp;&emsp; category</span>
        </a>
        <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Quản lý trường học</h6>
            <a translate routerLink="dashboard" class="collapse-item" href="alerts.html"><img width="20px" height="20px" src="https://www.pngkit.com/png/full/17-178229_school-building-icon-school-icon-vector-png.png">   &ensp; &ensp;   &ensp; &ensp;listschool</a>
           

          </div>
        </div>
      </li>
      
      
      <hr class="sidebar-divider">
      <div class="version" id="version-ruangadmin"></div>
    </ul>